body {
    background-color: aqua;
    margin-left: 20%;
    margin-right: 20%;
}
.game {
    border: darkblue 5px solid;
    border-radius: 10px;
    margin-top: 20 px;
    margin-bottom: 20 px;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}
img {
    width: 40%;
    height: 40%;
}
.game h2 {
    border-bottom: violet 6px double;
    color: darkviolet;
}
.game-date {
    font-size: smaller;
    margin: 0;
    font-style: italic;
}