body {
    background-color: aqua;
    margin-left: 20%;
    margin-right: 20%;
}
.game {
    border: darkblue 5px solid;
    border-radius: 10px;
    margin-top: 20 px;
    margin-bottom: 20 px;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}
img {
    width: 40%;
    height: 40%;
}
.game h2 {
    border-bottom: violet 6px double;
    color: darkviolet;
}
.game-date {
    font-size: smaller;
    margin: 0;
    font-style: italic;
}
.login-form input[type=submit],.signup-form input[type = submit] {
    font-weight: bold;
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 10px 20px;
    font-size: 20px;
    width: auto;
}
.login-form label,.signup-form label {
    display: block;
    font-size: 20px;
} 
.login-form input, textarea,.signup-form input {
    margin-bottom: 10px;
    background-color: ghostwhite;
    border: 0;
    padding: 6px 10px;
    font-size: 20px;
    width: 30%;
}   
.login-heading,.signup-heading {
    font-weight: normal;
    border-bottom: 1px solid grey;
}
.login-para,.signup-para {
    font-size: 20px;
    font-weight: bold;
}
.nav h1 {
    font-weight: normal;
    color: blueviolet;
    display: inline;
}
.login-logout-reg-nav {
    float: right;
    text-align: right;
}
.login-logout-reg-nav a {
    text-decoration:none;
    color: darkblue;
}
