{% extends 'base.html' %}
{% block title %}
confirm for reset your password
{% endblock title %}
{% block content %}
<h1 class="password-reset-heading">
    confirm for reset yuor password
</h1>
{% if validlink %}
<p class = "password=reset-para">
    make a new pssword and fill this form
</p>
<div class="passwor-reset-form">
    <form method = "post">
        {{form.as_p}}
        {% csrf_token %}
        <p>
            <input type="submit" value = "change password">
        </p>
    </form>
</div>
{% else %}
<p class="password-reset-para">
    the link that you was opening didn't work. please make sure that you are filling coreect the forms
</p>
{% endif %}
{% endblock content %}