{% extends 'base.html' %}
{% block title %}
Game Shop
{% endblock title %}
{% block content %}
{% for game in game_list %}
<div class="game">
    <h2>
        <a href="{{ game.get_absolute_url }}">
            {{game.title}}
        </a>
    </h2>
    {% if game.image %}
    <a href="{{ game.get_absolute_url }}">
        <img src="{{ game.image.url }}"> 
    </a>
    {% endif %}
    <h2>
        {{game.description}}
    </h2>
    <p class="game-date"> 
        created by {{game.owner}}
    </p>
    <p class="game-date">
        added at {{game.created}}
    </p>
    <p>
        the last update at {{game.updated}}
    </p>
   
</div>
{% endfor %}
{% endblock content %}

